{% extends 'base.html' %}

{% block content %}

<br>
<h1 class="is-size-3">About</h1>
<hr>
<p>
    Community gardens are vital in promoting civic engagement and fostering a sense of community. They provide a space for individuals to come together and work towards a common goal, such as growing fresh produce or beautifying the neighborhood. Through this shared experience, community members can develop a sense of ownership and pride in their community. Furthermore, community gardens can serve as an educational platform, a place for social interaction, and a means to build skills. They can provide access to fresh produce for those who may not have it otherwise. Lastly, they offer a platform for community members to come together and address issues that are important to them. Overall, community gardens are an effective way to promote community empowerment and civic engagement.
</p>
<br>
<p>
   This inventory app lets community garden coordinators and volunteers easily keep track of garden plots, tools, and other resources, by streamlining the management process and providing a central location for information. The app aims to promote greater community engagement and the success of the community garden.
</p>


</form>

{% endblock content %}