{% extends "base.html" %}

{% block content %}
<h2 class="is-size-3 mb-2">Add a Program</h2>
<form method="POST" action="{{ url_for('inventory.admin') }}">
    {{ form.hidden_tag() }}
    <div class="field is-size-5">
        {{ form.name.label(class="label") }}
        <div class="control">
            {{ form.name(class="input") }}
        </div>
    </div>

    <div class="field is-size-5">
        {{ form.description.label(class="label") }}
        <div class="control">
            {{ form.description(class="textarea") }}
        </div>
    </div>

    <div class="field is-size-5">
        {{ form.job_role.label(class="label") }}
        <div class="control">
            {{ form.job_role(class="input select2", multiple="multiple") }}
        </div>
    </div>

    <div class="field is-size-5">
        {{ form.years_experience.label(class="label") }}
        <div class="control">
            {{ form.years_experience(class="input select2", multiple="multiple") }}
        </div>
    </div>

    <div class="field is-size-5">
        {{ form.time_commitment.label(class="label") }}
        <div class="control">
            {{ form.time_commitment(class="input") }}
        </div>
    </div>

    <div class="field is-size-5">
        {{ form.topics_addressed.label(class="label") }}
        <div class="control">
            {{ form.topics_addressed(class="input select2", multiple="multiple") }}
        </div>
    </div>

    <div class="field is-size-5 mb-3">
        <div class="control">
            {{ form.submit(class="button is-primary") }}
        </div>
    </div>
</form>
{% endblock %}

