{% extends 'base.html' %}

{% block content %}

<br>
<h1>Create an item!</h1>
<br>

<form action="" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="field">
        {{ form.title.label }}
        {{ form.title(class='input', placeholder='Name of item goes here') }}
        
        {{ form.description.label }}
        {{ form.description(class='input', placeholder='Description') }}

        {{ form.cost.label }}
        {{ form.cost(class='input', placeholder='Cost') }}
        
        {{ form.submit(class='button is-primary mt-3') }}
    </div>
</form>

{% endblock content %}