{% extends 'base.html' %} 

{% block content %}

<div class="container is-flex is-justify-content-center is-align-items-center" style="min-height: 80vh; flex-direction: column; text-align: center;">
    {% if current_user.is_authenticated %}
    <h1 class="mb-4">Greetings {{ current_user.username }}!</h1>
    {% endif %}
    <h1 class="is-size-3">Find the Right Program for You</h1>
    <hr>
    <p>
        This tool is designed to help interested participants find personalized recommendations for the types of programs they might be interested in. By answering a few questions about your preferences and needs, you can discover the perfect fit to further your involvement and impact in Chicago's public education system.
    </p>

    <button class="button is-primary mt-4">Take me to the recommendation tool</button>
</div>

{% endblock content %}
