{% extends 'base.html' %}


{% block content %}

<h1 class="text-center">Edit {{ item.title }}</h1>

<form action="" method="post">
    {{ form.csrf_token }}
    <div class="field">
        {{ form.title.label }}
        {{ form.title(class='input', value=item.title) }}
        
        {{ form.description.label }}
        {{ form.description(class='input', value=item.description) }}

        {{ form.cost.label }}
        {{ form.cost(class='input', value=item.cost) }}
        
        {{ form.submit(class='button is-primary mt-3', value='Edit') }}
    </div>
</form>

{% endblock content %}