{% extends 'base.html' %}

{% block title %}
{{ super() }} | List of Programs
{% endblock title %}

{% block content %}
<h3 class="title is-3">List of Programs</h3>
<hr />
<div class="table-container">
    <table class="table">
    <thead class="has-background-primary">
        <tr>
            <th>Program Name</th>
            <th>Description</th>
            <th>Job Role</th>
            <th>Years of Experience</th>
            <th>Time Commitment</th>
            <th>Topics Addressed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.name }}</td>
                <td>{{ program.description }}</td>
                <td>{{ program.job_role }}</td>
                <td>{{ program.years_experience }}</td>
                <td>{{ program.time_commitment }}</td>
                <td>{{ program.topics_addressed }}</td>
                <td>
                    <a href="{{ url_for('inventory.single_program', program_id=program.id) }}" class="btn btn-primary">More Info</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
