{% extends 'base.html' %}

{% block content %}

<div class="container is-flex is-justify-content-center is-align-items-center" style="min-height: 80vh;">
    <div class="box" style="width: 100%; min-width: 400px;">
        <h3 class="title is-3 has-text-centered">Sign Up</h3>
        <p class="is-size-6 has-text-centered">For internal use only</p>
        <hr />

        <form method="post">
            {{ form.csrf_token }}
            
            <div class="field">
                {{ form.email.label(class="label") }}
                <div class="control">
                    {{ form.email(class='input', placeholder='Email') }}
                </div>
            </div>

            <div class="field">
                {{ form.username.label(class="label") }}
                <div class="control">
                    {{ form.username(class='input', placeholder='Username') }}
                </div>
            </div>

            <div class="field">
                {{ form.password.label(class="label") }}
                <div class="control">
                    {{ form.password(class='input', placeholder='Password') }}
                </div>
            </div>

            <div class="field">
                {{ form.confirm_pass.label(class="label") }}
                <div class="control">
                    {{ form.confirm_pass(class='input', placeholder='Confirm Password') }}
                </div>
            </div>

            <div class="field">
                {{ form.signup_code.label(class="label") }}
                <div class="control">
                    {{ form.signup_code(class='input', placeholder='Sign-up Code') }}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{ form.submit(class='button is-primary is-fullwidth mt-3') }}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
