{% extends 'base.html' %}

{% block title %}
{{ super() }} | List of Items
{% endblock title %}

{% block content %}
<h3>List of Items</h3>
<hr />
<div class="table-container">
    <table class="table">
    <thead class="has-background-primary">
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Cost</th>
        </tr>
        </thead>
        <tbody>
            {% for i in items %}
                <tr>
                    <td>{{ i.title }}</td>
                    <td>{{ i.description }}</td>
                    <td>${{ i.cost }}</td>
                </tr>
            {% endfor %}
        </tbody>
</table>
</div>
{% endblock %}


<a href="{{ url_for('inventory.single_item', item_id=i.id) }}" class="button is-primary">More Info</a>